{% extends "admin_layout.html" %}

{% block y %}
{% if session.name %}
<style>
  input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .divback {
    border-radius: 10px;
    background-color: #f5f6f8;
    padding: 20px;
    margin: 10px;
  }
  
  </style>

    <!-- <div class="row"> -->
      <div>
        {% if msg1 %}
        <div align="center" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ msg1 }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         <!--- <meta http-equiv="refresh" content="1 ; url =/onetime-transfer" /> -->
        </div>
        {% endif %}
      <div class="divback">
       <form action="{{ url_for('users.add_user') }}" method="post" >
          <h2>Add User</h2>
          <input type="text" id="lname" name="username" placeholder="Username" value="{{username}}">
          <br><input type="text" name="fullname" placeholder="Full Name" value="{{fullname}}">
          <br><input type="password" id="lname" name="password1" placeholder="Password">
          <br><input type="password" id="lname" name="password2" placeholder="Re-enter Password">
          <br><input type="email" id="lname" name="email" placeholder="Email" value="{{email}}">
          <br><input type="submit" formaction="/user-register-from-admin" value="Submit" onclick="openPopup()">
        </form>
      </div> 
      </div> 
      
<!-- partial -->
  <script  src="/static/script.js"></script>

 <!-- Welcome to Citibank {{ session.name }} <a href="/logout">logout</a>. -->
 <script>
  function onlyNumberKey(evt) {
        
      // Only ASCII character in that range allowed
      var ASCIICode = (evt.which) ? evt.which : evt.keyCode
      if (ASCIICode > 31 && (ASCIICode < 45 || ASCIICode > 57))
          return false;
      return true;
  }
  if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}


</script>
{% else %}
<meta http-equiv="refresh" content="2 ; url =/login" /> 
	You are not Register. <a href="/login">login</a>.
{% endif %}
{% endblock %}